body {
    background-color: rgb(207, 247, 247);
    font-family: "맑은 고딕", "돋움", sans-serif;
}

h1 {
    text-align: center;
    color: rgb(64, 247, 95);
    border: 3px solid rgb(245, 243, 160);
    border-radius: 30px;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
}

div {
    border: 5px dotted #fff;
    border-radius: 30px;
    width: 600px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: rgb(65, 67, 236);
}

p {
    color: rgb(255, 80, 133);
    font-size: 1.2em;
}

h3 {
    background-color: rgb(74, 230, 144);
    width: 10%;
    margin: 0 auto;
    text-align: center;
}

h3>a {
    text-decoration: none;
}